

/* ==========================================================================
   Base
   ========================================================================== */

html,body {
   height: 100%;
}

body { 
   background-color: @beige;
}

h1,h2,h3,h4,h5,h6 { font-family: @fancy-font; }

a {
   color: @orange;
}


h1 {
   font-size: 72px;
   font-weight: normal;
   text-align: center;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content {
   text-align: center;
 }


/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

/* ==========================================================================
   Single Show Listing
   ========================================================================== */
.band-list-heading {
   margin-top: -1em;
   color: @orange;
}

.band-list {
   list-style: none;
   font-size: 6em;
   padding: 0 0 0.5em 0;
   margin-bottom: 0.5em;
   border-bottom: thin solid @gray-dark;
   
   li {
      line-height: 1em;
      font-size: 0.7em;
      margin-bottom: 0.4em;


      &.headliner {
         font-size: 1em;
      }
   }

   a {
      color: @gray-dark;
      font-family:  'Squealer-Regular', Arial, sans-serif;
      transition: color 0.3s ease;

      &:hover {
         color: @orange;
         text-decoration: none;
      }
   }
}

.detail {
   margin-bottom: 2em;

   h2 {
      display: inline-block;
      margin-left: 0.5em;
      vertical-align: top;
      margin-top: 16px;
   }
}

.local-band-icon {
   margin: -10px 0 0 -10px;
}

.generic-info {
   border-top: thin solid #DDD;
   margin-top: 3em;
   padding-top: 2em;
   margin-bottom:5em;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */


