// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;

@beige: #eeece1;
@orange: #d85c42;


// Brand colors
// -------------------------

@brand-primary:         #27ae60;


// Glyphicons path
// -------------------------

// Fonts
// -------------------------

@font-face {font-family: 'Squealer-Regular';src: url('../fonts/2892D0_0_0.eot');src: url('../fonts/2892D0_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2892D0_0_0.woff') format('woff'),url('../fonts/2892D0_0_0.ttf') format('truetype'),url('../fonts/2892D0_0_0.svg#wf') format('svg');}

@fancy-font: 'Squealer-Regular', Arial, sans-serif;

@icon-font-path:        "../vendor/bootstrap/fonts/";
