.show-listing {
	margin-top: 3em;
}

.show-listing {

	margin-bottom: 5em;

	h2 {
		font-size: 42px;
		margin-bottom: 0;
	}

	.show-venue {
		font-family: @fancy-font;
		font-size: 32px;
	}

	.actions {
		margin-top: 1em;
	}
}