.content-info { 
   background-color: @orange;
   padding: 3em 0;
   margin-top: 3em;
   color: white;
   text-align: center;

   .row {
   		text-align: left;
   }

   a {
   	color: @beige;
   }

   .contact {
   	list-style: none;
   	padding-left: 0;
   }

	.col-twitter {
		text-align: center;
	}

   .icon-twitter {
   	width: 200px;
   	max-width: 100%;
   	height: auto;

   }

   h3 {
   	font-size:3em;
   }

   .footer-logo {
   	width: 100px;
   	height: auto;
   	margin: 0 auto;
   }
 }

@media (min-width: @screen-sm) {
   .col-twitter {
         text-align: center;
      }
 }
