.banner { 
   background-color: @orange;
   color: @beige;
   font-family: 'Squealer-Regular', Arial, sans-serif;
   font-size: 2em;
}

.navbar-default .navbar-nav>li>a {
   color: @beige;
}

.navbar-nav {
   @media (min-width: @screen-sm) {
      float: none;
      margin: 0 auto;
      display: table;
      table-layout: fixed;
   }
}

.hmh-logo {
   text-align: center;
   img {
      max-width: 100%;
      
   }
}

