.single-show {
	h1 {
		font-size: 3em;
		margin-bottom: 0.5em;

		@media screen and (min-width: @screen-sm-min) {
			font-size: 4em;
		}
	}

	.entry-meta {
		margin-bottom: 2em;
	}

	.disclaimer {
		margin: 3em 0;
		font-size: 0.9em;
	}
}